@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
//font-size .875rem for 14px font-weight: 400; line-height: 1.5;

//481380
//7f78d2
//efb1ff
//ffe2ff

// Body
$body-bg: #f8fafc;

// Typography
$body-font-family: 'Montserrat', sans-serif;
$heading-font-family: $body-font-family;
$font-size-root: 14px;
$line-height-base: 1.5;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;