// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Vuetify
@import '~vuetify/src/styles/styles';

html {
    font-size: $font-size-root !important;
}

.v-application {
    font-family: $body-font-family !important;

    & .v-label {
        font-size: $font-size-root !important;
    }

    & .display-1,
    & .display-2 {
        font-family: $body-font-family !important;
    }
}

.v-messages {
    font-size: 12px !important;
}

.v-alert {
    font-size: $font-size-root !important;
}
